.KDJ{
    background-color: lightblue;
    text-align: center;
    color: darkslateblue;
    padding: 14px;

    border-style: solid;
    border-color: darkslateblue;
    border-width: 7px;
    border-radius: 15px;
}


.link-nav{
    color: forestgreen;
    padding: 4px;
    font-weight: bold;
    font-size: large;
}


.ilw{
   position: absolute;
   top: 300px;
   left: 650px;
}


.nome1{
    position: absolute;
    top: 150px;
    left: 450px;
    color: rgb(33, 109, 160);
}

.nome2{
    position: absolute;
    top: 500px; 
    left: 450px;
    color: rgb(117, 57, 97);
}

.ph1{
    position: absolute;
    top: 200px;
    left: 500px;
    border-radius: 10px;
}

.ph2{
    position: absolute;
    top: 550px;
    left: 500px;
    border-radius: 15px;
}

.bio1{
    position: absolute;
    top: 200px;
    left: 915px;
    color: midnightblue;
}

.bio2{
    position: absolute;
    top: 550px;
    left: 815px;
    color: rgb(75, 25, 75);
}

.yts1{
    position: absolute;
    top: 470px;
    left: 840px;
}

.yts2{
    position: absolute;
    top: 930px;
    left: 770px;
}